In [11]:
import numpy as np
import pandas as pd
np.random.seed(0)
pd.plotting.register_matplotlib_converters()

In [12]:
test = pd.read_csv("Arquivos csv/test.csv")
train = pd.read_csv("Arquivos csv/train.csv")

In [13]:
# Quest찾o 01
def analiseInicial(df):
    for columns in df.columns:
        print("- {}: \ndtype: {}; \n{} valores nulos".format(columns, df[columns].dtype, pd.isnull(df[columns]).sum()))

print("As colunas do banco de dados 'test.csv': ")
analiseInicial(test)

print("\nAs colunas do banco de dados 'train.csv': ")
analiseInicial(train)

# C처pia do banco de dados test e train
newTest = test
newTrain = train

As colunas do banco de dados 'test.csv':
- PassengerId:
dtype: int64;
0 valores nulos
- Pclass:
dtype: int64;
0 valores nulos
- Name:
dtype: object;
0 valores nulos
- Sex:
dtype: object;
0 valores nulos
- Age:
dtype: float64;
86 valores nulos
- SibSp:
dtype: int64;
0 valores nulos
- Parch:
dtype: int64;
0 valores nulos
- Ticket:
dtype: object;
0 valores nulos
- Fare:
dtype: float64;
1 valores nulos
- Cabin:
dtype: object;
327 valores nulos
- Embarked:
dtype: object;
0 valores nulos

As colunas do banco de dados 'train.csv':
- PassengerId:
dtype: int64;
0 valores nulos
- Survived:
dtype: int64;
0 valores nulos
- Pclass:
dtype: int64;
0 valores nulos
- Name:
dtype: object;
0 valores nulos
- Sex:
dtype: object;
0 valores nulos
- Age:
dtype: float64;
177 valores nulos
- SibSp:
dtype: int64;
0 valores nulos
- Parch:
dtype: int64;
0 valores nulos
- Ticket:
dtype: object;
0 valores nulos
- Fare:
dtype: float64;
0 valores nulos
- Cabin:
dtype: object;
687 valores nulos
- Embarked:
dtype: object;
2 valores nulos

In [14]:
# Quest찾o 02
newTest = newTest.drop(['Cabin', 'Ticket'], axis = 1)
newTrain = newTrain.drop(['Cabin', 'Ticket'], axis = 1)

newTest['Age'] = newTest['Age'].fillna(newTest['Age'].median())
newTrain['Age'] = newTrain['Age'].fillna(newTrain['Age'].median())

newTest['Fare'] = newTest['Fare'].fillna(newTest['Fare'].median())
newTrain['Fare'] = newTrain['Fare'].fillna(newTrain['Fare'].median())

newTest['Embarked'] = newTest['Embarked'].fillna(newTest['Embarked'].mode()[0])
newTrain['Embarked'] = newTrain['Embarked'].fillna(newTrain['Embarked'].mode()[0])

In [15]:
# Quest찾o 03
newTest['GroupAge'] = pd.cut(newTest['Age'], bins = 5, right = True)
newTest['GroupFare'] = pd.qcut(newTest['Fare'], q = 6)

newTrain['GroupAge'] = pd.cut(newTrain['Age'], bins = 5, right = True)
newTrain['GroupFare'] = pd.qcut(newTrain['Fare'], q = 6)

print("Banco de dados 'test.csv' manipulado: \n", newTest.head())
print("\nBanco de dados 'train.csv' manipulado: \n", newTrain.head())

Banco de dados 'test.csv' manipulado:
    PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch     Fare Embarked          GroupAge        GroupFare
0  34.5      0      0   7.8292        Q  (30.502, 45.668]   (7.762, 8.662]
1  47.0      1      0   7.0000        S  (45.668, 60.834]  (-0.001, 7.762]
2  62.0      0      0   9.6875        Q    (60.834, 76.0]  (8.662, 14.454]
3  27.0      0      0   8.6625        S  (15.336, 30.502]   (7.762, 8.662]
4  22.0      1      1  12.2875        S  (15.336, 30.502]  (8.662, 14.454]

Banco de dados 'train.csv' manipulado:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch     Fare Embarked          GroupAge          GroupFare
0      0   7.2500        S  (16.336, 32.252]    (-0.001, 7.775]
1      0  71.2833        C  (32.252, 48.168]  (52.369, 512.329]
2      0   7.9250        S  (16.336, 32.252]     (7.775, 8.662]
3      0  53.1000        S  (32.252, 48.168]  (52.369, 512.329]
4      0   8.0500        S  (32.252, 48.168]     (7.775, 8.662]